.react-datepicker,
.react-datepicker__current-month {
  font-size: 14px;
}

.react-datepicker__day,
.react-datepicker__day-name {
  height: 20px;
  width: 20px;
}

.react-datepicker__input-container {
  display: block;
}

.react-datepicker__input-container input {
  width: 100%;
  margin-bottom: 0.5em;
}
