@import './velocity.scss';

.wizard-steps {
  display: flex;

  @media (max-width: 767px) {
    flex-direction: column;
  }

  .active {
    background-color: $velocity-primary;
  }

  .step {
    margin-right: 20px;
  }
}
