@import '../share/rounded-table';
@import '../share/velocity';

$space: 5px;

.app {
  padding: 10px;

  .btn {
    margin-left: 0;
  }
}

.data-display {
  .delete-btn {
    background-color: transparent;
    border: none;
  }

  table {
    @include rounded-table();

    width: 400px;

    caption {
      font-size: 18px;
      font-weight: bold;
      margin-top: 10px;
    }

    th {
      background-color: linen;
    }
  }
}

.data-entry {
  button {
    margin-left: $space;
  }

  .icons > * {
    margin-right: $space;
    vertical-align: top;
  }

  input {
    display: inline-block;
    width: 300px;
  }

  label {
    font-weight: bold;
    margin-right: $space;
    text-align: right;
    width: 130px;
  }
}

.data-display,
.data-entry {
  a {
    display: block;
    margin-top: 10px;
  }
}

.error {
  color: red;
  font-weight: bold;
}
