.data-display .delete-btn {
  background-color: transparent;
  border: none; }

.data-display table {
  border-collapse: collapse; }
  .data-display table caption {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px; }
  .data-display table td,
  .data-display table th {
    border: solid gray 1px;
    padding: 5px; }

.data-entry button {
  margin-left: 5px; }

.data-entry label {
  font-weight: bold;
  margin-right: 5px; }

.data-display a,
.data-entry a {
  display: block;
  margin-top: 10px; }

.error {
  color: red;
  font-weight: bold; }
