$space: 5px;

.data-display {
  .delete-btn {
    background-color: transparent;
    border: none;
  }

  table {
    border-collapse: collapse;

    caption {
      font-size: 18px;
      font-weight: bold;
      margin-top: 10px;
    }

    td,
    th {
      border: solid gray 1px;
      padding: $space;
    }
  }
}

.data-entry {
  button {
    margin-left: $space;
  }

  label {
    font-weight: bold;
    margin-right: $space;
  }
}

.data-display,
.data-entry {
  a {
    display: block;
    margin-top: 10px;
  }
}

.error {
  color: red;
  font-weight: bold;
}
