@import './rounded-table';

$space: 5px;
$tableRadius: 10px;

/* Velocity colors */
$danger-bg: #fcf3f3;
$danger-border: #d34a3b;
$default-bg: #f6f8f8;
$default-border: #b3bfc7;
$info-bg: #f2f8fd;
$info-border: #52a7e0;
$success-bg: #f4fcf7;
$success-border: #2ecb70;
$velocity-danger: #c0392b;
$velocity-default: #5f7481;
$velocity-info: #3498db;
$velocity-primary: #2980b9;
$velocity-success: #27ae60;
$velocity-text-primary: #010101;
$velocity-warning: #e67e22;
$warning-bg: #fcf7f1;
$warning-border: #ea9142;

.app {
  padding: 10px;

  .btn {
    margin-left: 0;
  }
}

.data-display {
  .delete-btn {
    background-color: transparent;
    border: none;
  }

  table {
    @include rounded-table();

    width: 400px;

    caption {
      font-size: 18px;
      font-weight: bold;
      margin-top: 10px;
    }

    th {
      background-color: linen;
    }
  }
}

.data-entry {
  button {
    margin-left: $space;
  }

  .icons > * {
    margin-right: $space;
    vertical-align: top;
  }

  input {
    display: inline-block;
    width: 300px;
  }

  label {
    font-weight: bold;
    margin-right: $space;
    text-align: right;
    width: 130px;
  }
}

.data-display,
.data-entry {
  a {
    display: block;
    margin-top: 10px;
  }
}

.data-input {
  margin-bottom: 10px;
}

.error {
  color: red;
  font-weight: bold;
}
